name: ubuntu

on: 
  pull_request:
  push:
    branches:
    - master

jobs:
  tests:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
    - name: Set up packages
      run: sudo apt-get install -y shellcheck
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install flake8
      run: python -m pip install flake8 docker-compose==1.17.1
    - name: Run shellcheck
      run: find postgres-appliance -name '*.sh' -print0 | xargs -0 shellcheck
    - name: Run flake8
      run: find postgres-appliance -name '*.py' -print0 | xargs -0 python -m flake8
    - name: Build spilo docker image
      run: cd postgres-appliance && docker build -t spilo .
    - name: Test spilo docker image
      run: bash postgres-appliance/tests/test_spilo.sh
